.root {
    -fx-background-color: rgb(170, 182, 220);
}
.tab-toggle {
    -fx-background-color: linear-gradient(to top, #b6bdc2, #E0EAFC 20%);
    -fx-background-radius: 15 15 0 0;
    -fx-padding: 5 5 0 5;
    -fx-background-insets: 5 5 0 5;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-cursor: hand;
}
.tab-toggle:hover {
    -fx-background-color: linear-gradient(to top, #b6bdc2, #EAF1FD 20%);
}
.tab-toggle:selected {
    -fx-background-color: #EAF1FD;
}
.tab-header {
    -fx-background-color: #31568C;
}
.tabs {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 50, 0, 0, 0);
}

.exit-button {
    -fx-background-radius: 35;
    -fx-background-color: #ED8F8F;
    -fx-background-image: url('exit.png');
    -fx-background-size: 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 70;
    -fx-pref-height: 70;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 12, 0, 0, 0);
}

.exit-button:hover {
    -fx-background-color: #EB8181;
}

.arrival-button {
    -fx-background-radius: 35;
    -fx-background-color: #A8D8C7;
    -fx-background-image: url('arrival_arrow.png');
    -fx-background-size: 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 70;
    -fx-pref-height: 70;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 12, 0, 0, 0);
}

.arrival-button:hover {
    -fx-background-color: #9AD2BE;
}

.departure-button {
    -fx-background-radius: 35;
    -fx-background-color: #A8D8C7;
    -fx-background-image: url('departure_arrow.png');
    -fx-background-size: 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 70;
    -fx-pref-height: 70;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 12, 0, 0, 0);
}

.departure-button:hover {
    -fx-background-color: #9AD2BE;
}