.root {
    -fx-background-color: rgb(170, 182, 220);
}
.tab-toggle {
    -fx-background-color: linear-gradient(to top, #b6bdc2, #E2EFF6 70%);
    -fx-background-radius: 10 10 0 0;
    -fx-padding: 5 5 0 5;
    -fx-background-insets: 5 5 0 5;
    -fx-pref-width: 200;
    -fx-pref-height: 36;
    -fx-cursor: hand;
}
.tab-toggle:selected {
    -fx-background-color: #E2EFF6;
}
.tab-header {
    -fx-background-color: #31568C;
}