.controls {
    -fx-background-color: #A1C1F1;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 20, 0, 0, 0);
}

.home-button {
    -fx-background-radius: 35;
    -fx-background-color: #A2A9DE;
    -fx-background-image: url('home.png');
    -fx-background-size: 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 70;
    -fx-pref-height: 70;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 12, 0, 0, 0);
}

.home-button:hover {
    -fx-background-color: #9099D8;
}

.colour-button {
    -fx-background-radius: 35;
    -fx-background-color: #A1C1F1;
    -fx-background-image: url('colour.png');
    -fx-background-size: 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 70;
    -fx-pref-height: 70;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 12, 0, 0, 0);
}

.colour-button:hover {
    -fx-background-color: #8AB2EE;
}

.remove-button {
    -fx-background-radius: 15;
    -fx-background-color: #31568C;
    -fx-background-image: url('remove.png');
    -fx-background-size: 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-width: 30;
    -fx-min-height: 30;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 12, 0, 0, 0);
}

.remove-button:hover {
    -fx-background-color: #3F6EB3;
}

.priority-node {
    -fx-pref-height: 40;
    -fx-background-color: #EAF1FD;
    -fx-background-radius: 20;
    -fx-padding: 5 10 5 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 12, 0, 0, 0);
}

.priority-node:hover {
    -fx-background-color: #E0EAFC;
}

.add-button {
    -fx-background-radius: 20;
    -fx-background-color: #EAF1FD;
    -fx-background-image: url('add.png');
    -fx-background-size: 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-width: 40;
    -fx-min-height: 40;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 12, 0, 0, 0);
}

.add-button:hover {
    -fx-background-color: #D9E5FB;
}

.done-button {
    -fx-background-radius: 35;
    -fx-background-color: #A8D8C7;
    -fx-background-image: url('done.png');
    -fx-background-size: 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 70;
    -fx-pref-height: 70;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 12, 0, 0, 0);
}

.done-button:hover {
    -fx-background-color: #9AD2BE;
}

.edit-button {
    -fx-background-radius: 35;
    -fx-background-color: #F4CDA6;
    -fx-background-image: url('edit.png');
    -fx-background-size: 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 70;
    -fx-pref-height: 70;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 12, 0, 0, 0);
}

.edit-button:hover {
    -fx-background-color: #F0BC88;
}

.delete-button {
    -fx-background-radius: 35;
    -fx-background-color: #ED8F8F;
    -fx-background-image: url('delete.png');
    -fx-background-size: 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 70;
    -fx-pref-height: 70;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 12, 0, 0, 0);
}

.delete-button:hover {
    -fx-background-color: #EB8181;
}

.title {
    -fx-font-size: 30;
}

.name-field {
    -fx-background-color: #EAF1FD;
    -fx-background-radius: 30;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.scroll-pane, .scroll-pane > * {
    -fx-background-color: transparent;
}
.increment-button, .increment-button *, .decrement-button, .decrement-button * {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-padding: 0;
    -fx-background-insets: 0;
}
.scroll-bar {
    -fx-pref-width: 12;
    -fx-padding: 10 0 10 0;
}
.scroll-bar .thumb {
    -fx-background-color: #EAF1FD;
    -fx-background-radius: 10;
}
.scroll-bar .thumb:hover {
    -fx-background-color: #E0EAFC;
}

.dialog-pane {
    -fx-background-color: #A1C1F1;
}

.dialog-pane:header .header-panel {
    -fx-background-color: #E0EAFC;
}

.dialog-pane .button{
    -fx-background-color: #EAF1FD;
    -fx-background-insets: 0;
    -fx-background-radius: 25;
 }

.dialog-pane .button:hover{
    -fx-background-color: #E0EAFC;
 }