.controls {
    -fx-background-color: #A1C1F1;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 20, 0, 0, 0);
}

.home-button {
    -fx-background-radius: 35;
    -fx-background-color: #A2A9DE;
    -fx-background-image: url('home.png');
    -fx-background-size: 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 70;
    -fx-pref-height: 70;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 12, 0, 0, 0);
}

.home-button:hover {
    -fx-background-color: #9099D8;
}

.done-button {
    -fx-background-radius: 35;
    -fx-background-color: #A8D8C7;
    -fx-background-image: url('done.png');
    -fx-background-size: 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 70;
    -fx-pref-height: 70;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 12, 0, 0, 0);
}

.done-button:hover {
    -fx-background-color: #9AD2BE;
}

.title {
    -fx-font-size: 30;
}

.name-field {
    -fx-background-color: #EAF1FD;
    -fx-background-radius: 30;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.scroll-pane, .scroll-pane > * {
    -fx-background-color: transparent;
}
.increment-button, .increment-button *, .decrement-button, .decrement-button * {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-padding: 0;
    -fx-background-insets: 0;
}
.scroll-bar {
    -fx-pref-width: 12;
    -fx-padding: 10 0 10 0;
}
.scroll-bar .thumb {
    -fx-background-color: #EAF1FD;
    -fx-background-radius: 10;
}
.scroll-bar .thumb:hover {
    -fx-background-color: #E0EAFC;
}