.root {
    -fx-background-color: #A1C1F1;
}
.scroll-background {
    -fx-background-color: #DCEAFF;
    -fx-background-radius: 20;
    -fx-padding: 0 10 0 10;
}
.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.scroll-pane, .scroll-pane > * {
    -fx-background-color: transparent;
}
.increment-button, .increment-button *, .decrement-button, .decrement-button * {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-padding: 0;
    -fx-background-insets: 0;
}
.scroll-bar {
    -fx-pref-width: 12;
    -fx-padding: 10 0 10 0;
}
.scroll-bar .thumb {
    -fx-background-color: #A1C1F1;
    -fx-background-radius: 10;
}
.scroll-bar .thumb:hover {
    -fx-background-color: #91B7EF;
}
.add-button {
    -fx-background-color: #EAF1FD;
    -fx-background-insets: 0;
    -fx-background-radius: 25;
}
.add-button:hover {
    -fx-background-color: #E0EAFC;
}

.flight-node {
    -fx-background-color: #EAF1FD;
    -fx-background-radius: 15;
    -fx-padding: 5 10 5 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 12, 0, 0, 0);
}

.flight-node:hover {
    -fx-background-color: #E0EAFC;
}

.flight-node-selected {
    -fx-background-color: #E0EAFC;
    -fx-border-color: #193C6F;
    -fx-border-width: 3;
    -fx-border-radius: 15;
}